services:
  api:    
    build: .
    
    env_file:
      - .env
          
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    
    ports:
      - "8000:8000"
      
    volumes:
      - ./app:/app/app
      - ./tests:/app/tests

    environment:
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1

    depends_on:
      - db

  db:
    image: postgres:15-alpine
    restart: always

    env_file:
      - .env

    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data: